name: auto-deployment

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v3
      - name: Connect to PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: '15'
          postgresql db: 'first_db'
          postgresql user: 'first_user'
          postgresql password: 'root'

      - name: Set Up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Build with Maven
        run: mvn clean package -Dmaven.test.skip

      - name: Build Docker Images
        uses: docker/build-push-action@v2
        with:
          image: first-app-images
          context: .
          dockerfile: Dockerfile
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/simple-spring-boot-ci-cd
          build-args: |
            SPRING_DATASOURCE_URL:jdbc:postgresql://postgresql:5432/first_db
            SPRING_DATASOURCE_USERNAME:first_user
            SPRING_DATASOURCE_PASSWORD:root
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}





























#name: Build & Deploy Spring Application
#
#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]
#
#jobs:
#  build:
#    name: Build and Deploy Spring boot for my-project
#    runs-on: ubuntu-latest
##    services:
##      db:
##        image: postgres:latest
##        env:
##          POSTGRES_USER: postgres-ci-cd-user
##          POSTGRES_PASSWORD: root-ci-cd
##          POSTGRES_DB: postgresDb-ci-cd
##        ports:
##          - 5433:5432
##        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Setup JDK 17
#        uses: actions/setup-java@v3
#        with:
#          distribution: 'corretto'
#          java-version: 17
#          cache: maven
#
#      - name: Unit Tests
#        run: mvn -B test --file pom.xml
#
#      - name: Build with Maven
#        run: mvn clean install
#
#      - name: Build the application
#        run: |
#          mvn clean
#          mvn -B package --file pom.xml
#
#      - name: Build Docker Image
#        uses: docker/build-push-action@v2
#        with:
#          context: .
#          dockerfile: Dockerfile
#          push: false
#          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot-auto-deployment:today
#      - name: Login to Docker Hub
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.DOCKER_HUB_USERNAME }}
#          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
#
#      - name: Push to Docker Hub
#        uses: docker/build-push-action@v2
#        with:
#          image: diyorbek0198/simple-spring-boot-ci-cd
#          context: .
#          dockerfile: Dockerfile
#          push: true
#          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/spring-boot-auto-deployment:today